[submodule "SnapdragonFlight/dspal"]
	path = SnapdragonFlight/dspal
	url = https://github.com/ATLFlight/dspal.git
[submodule "ROS/fprime_ws/src/common_msgs"]
	path = ROS/fprime_ws/src/common_msgs
	url = https://github.com/ros/common_msgs.git
[submodule "ROS/fprime_ws/src/control_msgs"]
	path = ROS/fprime_ws/src/control_msgs
	url = https://github.com/ros-controls/control_msgs.git
[submodule "ROS/fprime_ws/src/std_msgs"]
	path = ROS/fprime_ws/src/std_msgs
	url = https://github.com/ros/std_msgs.git
[submodule "ROS/fprime_ws/src/ros_comm_msgs"]
	path = ROS/fprime_ws/src/ros_comm_msgs
	url = https://github.com/ros/ros_comm_msgs.git
[submodule "ROS/fprime_ws/src/ackermann_msgs"]
	path = ROS/fprime_ws/src/ackermann_msgs
	url = https://github.com/ros-drivers/ackermann_msgs.git
[submodule "ROS/fprime_ws/src/fprime_msgs"]
	path = ROS/fprime_ws/src/fprime_msgs
	url = git@github.com:quest-fw/fprime_msgs.git
[submodule "ROS/fprime_ws/src/mav_comm"]
	path = ROS/fprime_ws/src/mav_comm
	url = git@github.com:quest-fw/mav_comm.git

