    <events>
        <event id="0" name="MVCAM_UninitializedError" severity="WARNING_HI" format_string = "MVCam not initialized" >
            <comment>
            MVCam received a command while the component was uninitialized
            </comment>
        </event>
        <event id="1" name="MVCAM_AlreadyInitializedError" severity="WARNING_HI" format_string = "MVCam already initialized" >
            <comment>
            MVCam asked to initialize while already initialized
            </comment>
        </event>
        <event id="2" name="MVCAM_DeactivatedError" severity="WARNING_HI" format_string = "MVCam not activated" >
            <comment>
            MVCam tried to wait for an image callback while deactivated
            </comment>
        </event>
        <event id="3" name="MVCAM_ExtraPreviewCallbackError" severity="WARNING_LO" format_string = "MVCam received preview frame while (de)activating" >
            <comment>
            MVCam received an image callback while (de)activating
            </comment>
        </event>
        <event id="4" name="MVCAM_CameraError" severity="WARNING_HI" format_string = "MVCam camera error %d" >
            <comment>
            MVCam error with Snapdragon Linux Camera API
            </comment>
            <args>
                <arg name="error" type="ENUM">
                    <enum name="MVCAM_CameraErrorType">
                        <item name="MVCAM_IMG_TIMEOUT" comment="Timed out waiting for image callback"/>
                        <item name="MVCAM_IMG_EMPTY" comment="Empty image in callback"/>
                        <item name="MVCAM_CPA_ERR" comment="Machine Vision SDK CPA error"/>
                        <item name="MVCAM_NO_CAMERA" comment="Could not connect to OV7251 / Sunny MD102-A"/>
                        <item name="MVCAM_PARAM_ERR" comment="Error in setting camera parameters"/>
                        <item name="MVCAM_ACTIVATE_ERR" comment="Linux Camera API failed to activate"/>
                        <item name="MVCAM_DEACTIVATE_ERR" comment="Linux Camera API failed to deactivate"/>
                        <item name="MVCAM_UNKNOWN_ERR" comment="Linux Camera API onError"/>
                    </enum>
                    <comment>The error code</comment>
                </arg>
            </args>
        </event>
        <event id="5" name="MVCAM_TookImg" severity="ACTIVITY_HI" format_string = "MVCam took image" >
            <comment>
            MVCam took an image using the MVCAM_TAKE_IMG command
            </comment>
        </event>
        <event id="6" name="MVCAM_Activated" severity="ACTIVITY_HI" format_string = "MVCam image cycling started" >
            <comment>
            MVCam began dispatching images
            </comment>
        </event>
        <event id="7" name="MVCAM_Deactivated" severity="ACTIVITY_HI" format_string = "MVCam image cycling stopped" >
            <comment>
            MVCam stopped dispatching images
            </comment>
        </event>
        <event id="8" name="MVCAM_LoggingModeChange" severity="ACTIVITY_HI" format_string = "MVCam image log mode changed to %d" >
            <comment>
              MVCam logging mode changed
            </comment>
            <args>
                <arg name="Mode" type="ENUM">
                    <enum name="LoggingModeEVR">
                        <item name="LOGGING_ALL_EVR"/>
                        <item name="LOGGING_UNPROC_EVR"/>
                        <item name="LOGGING_PROC_EVR"/>
                        <item name="LOGGING_WAYPT_EVR"/>
                        <item name="LOGGING_OFF_EVR"/>
                    </enum>
                </arg>
            </args>
        </event>
        <event id="9" name="MVCAM_NoHPBuffers" severity="WARNING_HI" throttle="5" format_string = "MVCam ran out of HP buffers on port %d" >
            <comment>
            MVCam ran out of buffers on the specified High Priority port
            </comment>
            <args>
                <arg name="port" type="U32">
                </arg>
            </args>
        </event>
        <event id="10" name="MVCAM_NoLPBuffers" severity="ACTIVITY_HI" throttle="5" format_string = "MVCam ran out of LP buffers on port %d" >
            <comment>
            MVCam ran out of buffers on the specified Low Priority port
            </comment>
            <args>
                <arg name="port" type="U32">
                </arg>
            </args>
        </event>
        <event id="11" name="MVCAM_LoRate" severity="WARNING_HI" throttle="5" format_string = "MVCam only captured %d images in 1 second" >
            <comment>
            MVCam captured less than MVCAM_MIN_RATE_WARN images since last Sched call
            </comment>
            <args>
                <arg name="numImages" type="U32">
                </arg>
            </args>
        </event>
        <event id="12" name="MVCAM_ExposureModeChange" severity="WARNING_HI" format_string = "MVCam exposure mode changed to %d" >
            <comment>
            MVCam switched from fixed to autoexposure or vice versa
            </comment>
            <args>
                <arg name="Mode" type="ENUM">
                    <enum name="ExposureModeEVR">
                        <item name="EXPOSURE_FIXED_EVR"/>
                        <item name="EXPOSURE_AUTO_COST_EVR"/>
                        <item name="EXPOSURE_AUTO_HISTOGRAM_EVR"/>
                    </enum>
                </arg>
            </args>
        </event>
        <event id="13" name="MVCAM_BusyWaitingImage" severity="WARNING_HI" format_string = "MVCam busy - asked to take image at waypoint %d" >
            <comment>
            MVCam busy waiting for previous image to be acquired
            </comment>
            <args>
                <arg name="waypoint" type="I32">
                    <comment>
                    -1 for the waypoint value means MVCam was asked for a manual image
                    </comment>
                </arg>
            </args>
        </event>
        <event id="14" name="MVCAM_MissedWaypoint" severity="WARNING_HI" format_string = "MVCam was deactivated when received waypoint %d" >
            <comment>
            MVCam did not take an image at waypoint because it was deactivated
            </comment>
            <args>
                <arg name="waypoint" type="U32">
                </arg>
            </args>
        </event>
        <event id="15" name="MVCAM_WaypointError" severity="WARNING_HI" format_string = "MVCam waypoint %d, type %d had spec error" >
            <comment>
            MVCam waypoint had spec error
            </comment>
            <args>
                <arg name="waypoint" type="U32">
                </arg>
                <arg name="type" type="U32">
                </arg>
            </args>
        </event>
        <event id="16" name="MVCAM_NoWaypointsLeft" severity="WARNING_HI" format_string = "MVCam ran out of waypoint slots" >
            <comment>
            MVCam used all the waypoint slots
            </comment>
        </event>
        <event id="17" name="MVCAM_WaypointAdded" severity="ACTIVITY_LO" format_string = "MVCam added waypoint index %d, type %d, quality %d" >
            <comment>
            MVCam added a waypoint
            </comment>
            <args>
                <arg name="waypoint" type="U32">
                </arg>
                <arg name="type" type="U32">
                </arg>
                <arg name="quality" type="U8">
                </arg>
            </args>
        </event>
        <event id="18" name="MVCAM_NoWaypointSpec" severity="ACTIVITY_HI" format_string = "MVCam waypoint %d not found in list" >
            <comment>
            MVCam did not take an image at waypoint - not found in list
            </comment>
            <args>
                <arg name="waypoint" type="U32">
                </arg>
            </args>
        </event>
        <event id="19" name="MVCAM_WaypointRecv" severity="ACTIVITY_HI" format_string = "MVCam waypoint %d" >
            <comment>
            MVCam received a waypoint notification
            </comment>
            <args>
                <arg name="waypoint" type="U32">
                </arg>
            </args>
        </event>
        <event id="20" name="MVCAM_MaxExposureDelta" severity="WARNING_HI" format_string = "MVCam unable to change exposure from %d to %d" throttle="5">
            <comment>
            MVCam unable to change exposure because max delta was hit
            </comment>
            <args>
                <arg name="oldExp" type="U32">
                </arg>
                <arg name="newExp" type="U32">
                </arg>
            </args>
        </event>
        <event id="21" name="MVCAM_FlightModeChange" severity="ACTIVITY_HI" format_string = "MVCam flight mode changed to %d" >
            <comment>
            MVCam switched from preflight to flight or vice versa
            </comment>
            <args>
                <arg name="Mode" type="ENUM">
                    <enum name="FlightModeEVR">
                        <item name="MVCAM_MODE_PREFLIGHT_EVR"/>
                        <item name="MVCAM_MODE_FLIGHT_EVR"/>
                    </enum>
                </arg>
            </args>
        </event>
        <event id="22" name="MVCAM_ImgTlmModeChange" severity="ACTIVITY_LO" format_string = "MVCam img tlm mode changed to %d" >
            <comment>
            MVCam turned image telemetry on or off
            </comment>
            <args>
                <arg name="Mode" type="ENUM">
                    <enum name="ImgTlmModeEVR">
                        <item name="MVCAM_IMG_TLM_OFF_EVR"/>
                        <item name="MVCAM_IMG_TLM_ON_EVR"/>
                    </enum>
                </arg>
            </args>
        </event>
        <event id="23" name="MVCAM_OverrodeQuality" severity="ACTIVITY_HI" format_string = "MVCam overrode bad compression quality of %d with %d" >
            <args>
                <arg name="oldQual" type="U32">
                </arg>
                <arg name="newQual" type="U32">
                </arg>
            </args>
        </event>
        <event id="24" name="MVCAM_CallbackTypeChange" severity="WARNING_HI" format_string = "MVCam callback type changed to %d" >
            <comment>
            MVCam switched between 8-bit and 10-bit callbacks
            </comment>
            <args>
                <arg name="Type" type="ENUM">
                    <enum name="CallbackTypeEVR">
                        <item name="CALLBACK_8BIT_EVR"/>
                        <item name="CALLBACK_10BIT_EVR"/>
                    </enum>
                </arg>
            </args>
        </event>
        <event id="25" name="MVCAM_GncBufferReturnQueueErr" severity="WARNING_HI" format_string = "Internal GncBufferReturn queue error %d" throttle="5" >
          <args>
              <arg name="errStat" type="I32">
              </arg>
          </args>
        </event>
    </events>
