    <events>
        <event id="0" name="SCAM_UninitializedError" severity="WARNING_HI" format_string = "StereoCam not initialized" >
            <comment>
            StereoCam received a command while the component was uninitialized
            </comment>
        </event>
        <event id="1" name="SCAM_AlreadyInitializedError" severity="WARNING_HI" format_string = "StereoCam already initialized" >
            <comment>
            StereoCam asked to initialize while already initialized
            </comment>
        </event>
        <event id="2" name="SCAM_DeactivatedError" severity="WARNING_HI" format_string = "StereoCam not activated" >
            <comment>
            StereoCam tried to wait for an image callback while deactivated
            </comment>
        </event>
        <event id="3" name="SCAM_ExtraPreviewCallbackError" severity="WARNING_LO" format_string = "StereoCam received preview frame while (de)activating" >
            <comment>
            StereoCam received an image callback while (de)activating
            </comment>
        </event>
        <event id="4" name="SCAM_CameraError" severity="WARNING_HI" format_string = "StereoCam camera error %d" >
            <comment>
            StereoCam error with Snapdragon Linux Camera API
            </comment>
            <args>
                <arg name="error" type="ENUM">
                    <enum name="SCAM_CameraErrorType">
                        <item name="SCAM_IMG_TIMEOUT" comment="Timed out waiting for image callback"/>
                        <item name="SCAM_IMG_EMPTY" comment="Empty image in callback"/>
                        <item name="SCAM_CPA_ERR" comment="Machine Vision SDK CPA error"/>
                        <item name="SCAM_NO_CAMERA" comment="Could not connect to OV7251 / Sunny MD102-A"/>
                        <item name="SCAM_PARAM_ERR" comment="Error in setting camera parameters"/>
                        <item name="SCAM_ACTIVATE_ERR" comment="Linux Camera API failed to activate"/>
                        <item name="SCAM_DEACTIVATE_ERR" comment="Linux Camera API failed to deactivate"/>
                        <item name="SCAM_UNKNOWN_ERR" comment="Linux Camera API onError"/>
                    </enum>
                    <comment>The error code</comment>
                </arg>
            </args>
        </event>
        <event id="5" name="SCAM_TookImg" severity="ACTIVITY_HI" format_string = "StereoCam took image" >
            <comment>
            StereoCam took an image using the SCAM_TAKE_IMG command
            </comment>
        </event>
        <event id="6" name="SCAM_Activated" severity="ACTIVITY_HI" format_string = "StereoCam image cycling started" >
            <comment>
            StereoCam began dispatching images
            </comment>
        </event>
        <event id="7" name="SCAM_Deactivated" severity="ACTIVITY_HI" format_string = "StereoCam image cycling stopped" >
            <comment>
            StereoCam stopped dispatching images
            </comment>
        </event>
        <event id="8" name="SCAM_LoggingModeChange" severity="ACTIVITY_HI" format_string = "StereoCam image log mode changed to %d" >
            <comment>
              StereoCam logging mode changed
            </comment>
            <args>
                <arg name="Mode" type="ENUM">
                    <enum name="LoggingModeEVR">
                        <item name="LOGGING_ALL_EVR"/>
                        <item name="LOGGING_UNPROC_EVR"/>
                        <item name="LOGGING_PROC_EVR"/>
                        <item name="LOGGING_WAYPT_EVR"/>
                        <item name="LOGGING_OFF_EVR"/>
                    </enum>
                </arg>
            </args>
        </event>
        <event id="9" name="SCAM_NoHPBuffers" severity="WARNING_HI" throttle="5" format_string = "StereoCam ran out of HP buffers on port %d" >
            <comment>
            StereoCam ran out of buffers on the specified High Priority port
            </comment>
            <args>
                <arg name="port" type="U32">
                </arg>
            </args>
        </event>
        <event id="10" name="SCAM_NoLPBuffers" severity="ACTIVITY_HI" throttle="5" format_string = "StereoCam ran out of LP buffers on port %d" >
            <comment>
            StereoCam ran out of buffers on the specified Low Priority port
            </comment>
            <args>
                <arg name="port" type="U32">
                </arg>
            </args>
        </event>
        <event id="11" name="SCAM_LoRate" severity="WARNING_HI" throttle="5" format_string = "StereoCam only captured %d images in 1 second" >
            <comment>
            StereoCam captured less than SCAM_MIN_RATE_WARN images since last Sched call
            </comment>
            <args>
                <arg name="numImages" type="U32">
                </arg>
            </args>
        </event>
        <event id="12" name="SCAM_ExposureModeChange" severity="WARNING_HI" format_string = "StereoCam exposure mode changed to %d" >
            <comment>
            StereoCam switched from fixed to autoexposure or vice versa
            </comment>
            <args>
                <arg name="Mode" type="ENUM">
                    <enum name="ExposureModeEVR">
                        <item name="EXPOSURE_FIXED_EVR"/>
                        <item name="EXPOSURE_AUTO_COST_EVR"/>
                        <item name="EXPOSURE_AUTO_HISTOGRAM_EVR"/>
                    </enum>
                </arg>
            </args>
        </event>
        <event id="13" name="SCAM_BusyWaitingImage" severity="WARNING_HI" format_string = "StereoCam busy - asked to take image at waypoint %d" >
            <comment>
            StereoCam busy waiting for previous image to be acquired
            </comment>
            <args>
                <arg name="waypoint" type="I32">
                    <comment>
                    -1 for the waypoint value means StereoCam was asked for a manual image
                    </comment>
                </arg>
            </args>
        </event>
        <event id="14" name="SCAM_MissedWaypoint" severity="WARNING_HI" format_string = "StereoCam was deactivated when received waypoint %d" >
            <comment>
            StereoCam did not take an image at waypoint because it was deactivated
            </comment>
            <args>
                <arg name="waypoint" type="U32">
                </arg>
            </args>
        </event>
        <event id="15" name="SCAM_WaypointError" severity="WARNING_HI" format_string = "StereoCam waypoint %d, type %d had spec error" >
            <comment>
            StereoCam waypoint had spec error
            </comment>
            <args>
                <arg name="waypoint" type="U32">
                </arg>
                <arg name="type" type="U32">
                </arg>
            </args>
        </event>
        <event id="16" name="SCAM_NoWaypointsLeft" severity="WARNING_HI" format_string = "StereoCam ran out of waypoint slots" >
            <comment>
            StereoCam used all the waypoint slots
            </comment>
        </event>
        <event id="17" name="SCAM_WaypointAdded" severity="ACTIVITY_LO" format_string = "StereoCam added waypoint index %d, type %d, quality %d" >
            <comment>
            StereoCam added a waypoint
            </comment>
            <args>
                <arg name="waypoint" type="U32">
                </arg>
                <arg name="type" type="U32">
                </arg>
                <arg name="quality" type="U8">
                </arg>
            </args>
        </event>
        <event id="18" name="SCAM_NoWaypointSpec" severity="ACTIVITY_HI" format_string = "StereoCam waypoint %d not found in list" >
            <comment>
            StereoCam did not take an image at waypoint - not found in list
            </comment>
            <args>
                <arg name="waypoint" type="U32">
                </arg>
            </args>
        </event>
        <event id="19" name="SCAM_WaypointRecv" severity="ACTIVITY_HI" format_string = "StereoCam waypoint %d" >
            <comment>
            StereoCam received a waypoint notification
            </comment>
            <args>
                <arg name="waypoint" type="U32">
                </arg>
            </args>
        </event>
        <event id="20" name="SCAM_MaxExposureDelta" severity="WARNING_HI" format_string = "StereoCam unable to change exposure from %d to %d" throttle="5">
            <comment>
            StereoCam unable to change exposure because max delta was hit
            </comment>
            <args>
                <arg name="oldExp" type="U32">
                </arg>
                <arg name="newExp" type="U32">
                </arg>
            </args>
        </event>
        <event id="21" name="SCAM_FlightModeChange" severity="ACTIVITY_HI" format_string = "StereoCam flight mode changed to %d" >
            <comment>
            StereoCam switched from preflight to flight or vice versa
            </comment>
            <args>
                <arg name="Mode" type="ENUM">
                    <enum name="FlightModeEVR">
                        <item name="SCAM_MODE_PREFLIGHT_EVR"/>
                        <item name="SCAM_MODE_FLIGHT_EVR"/>
                    </enum>
                </arg>
            </args>
        </event>
        <event id="22" name="SCAM_ImgTlmModeChange" severity="ACTIVITY_LO" format_string = "StereoCam img tlm mode changed to %d" >
            <comment>
            StereoCam turned image telemetry on or off
            </comment>
            <args>
                <arg name="Mode" type="ENUM">
                    <enum name="ImgTlmModeEVR">
                        <item name="SCAM_IMG_TLM_OFF_EVR"/>
                        <item name="SCAM_IMG_TLM_ON_EVR"/>
                    </enum>
                </arg>
            </args>
        </event>
        <event id="23" name="SCAM_OverrodeQuality" severity="ACTIVITY_HI" format_string = "StereoCam overrode bad compression quality of %d with %d" >
            <args>
                <arg name="oldQual" type="U32">
                </arg>
                <arg name="newQual" type="U32">
                </arg>
            </args>
        </event>
        <event id="24" name="SCAM_CallbackTypeChange" severity="WARNING_HI" format_string = "StereoCam callback type changed to %d" >
            <comment>
            StereoCam switched between 8-bit and 10-bit callbacks
            </comment>
            <args>
                <arg name="Type" type="ENUM">
                    <enum name="CallbackTypeEVR">
                        <item name="CALLBACK_8BIT_EVR"/>
                        <item name="CALLBACK_10BIT_EVR"/>
                    </enum>
                </arg>
            </args>
        </event>
        <event id="25" name="SCAM_GncBufferReturnQueueErr" severity="WARNING_HI" format_string = "Internal GncBufferReturn queue error %d" throttle="5" >
          <args>
              <arg name="errStat" type="I32">
              </arg>
          </args>
        </event>
    </events>
